<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>
		<br />
		
		<% if(valid){ %>
			<ul>
				<% for(var i=0; i < valid.length; i++){ %>
					<li>
						<%= valid[i].msg; %>
					</li>
				<% } %>
			</ul>	
		<% } %>
		
		<form action="/noticias/salvar" method="post">
			<label>Título</label><br />
			<input name="titulo" id="titulo" type="text" placeholder="Título da notícia" /><br /><br />
			
			<label>Resumo</label><br />
			<input name="resumo" id="resumo" type="text" placeholder="Resumo da notícia" /><br /><br />
			
			<label>Nome do autor</label><br />
			<input name="autor" id="autor" type="text" placeholder="Autor da notícia" /><br /><br />
			
			<label>Data de publicação</label><br />
			<input name="data_noticia" id="data_noticia" type="date" placeholder="Data da notícia" /><br /><br />
			
			<label>Notícia</label><br />
			<textarea name="noticia" id="noticia" cols="30" rows="10" placeholder="Conteúdo da notícia"></textarea><br /><br />

			<input type="submit" value="Enviar" />
		</form>

	</body>
</html>